<!-- Start with navbar with "Scrape New" and "Saved Articles" buttons -->
<nav>
  <div class="nav-wrapper grey darken-1">
    <a href="#!" class="brand-logo">NewsNow</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="waves-effect waves-light btn indigo lighten-2 scrape-new" id="scrape-new">New Articles
          <i class="material-icons right">library_add</i>
        </a>
      </li>
      <li>
        <a class="waves-effect waves-light btn indigo lighten-3 view-saved" id="view-saved">Saved Articles
          <i class="material-icons right">collections_bookmark</i>
        </a>
      </li>
    </ul>
    <!-- Navbar when collapsed on mobile -->
    <ul class="side-nav" id="mobile-demo">
      <li>
        <a href="#" class="scrape-new">New Articles</a>
      </li>
      <li>
        <a href="#" class="view-saved">Saved Articles</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <!-- Empty div for articles table to render dynamically on button clicks -->
  <div class="article-list center-align">
    <h2>Table with articles renders here</h2>
    <table>
      <tbody>
        <tr>
          {{#each Article}}
            {{> new-block }}
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- ^^Closes overall container div -->