html {
	background: url('../img/leaf.jpg') no-repeat center center fixed;
			-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  font-family: 'Lato', sans-serif;
}

/* body {
  background-image: url(../img/linedpaper.png)
} */

.brand-logo {
  margin-left: 15px;
}

.article-list {
  margin-top: 50px;
}